<?xml version="1.0" encoding="utf-8"?>
<SiteSecurityConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Users>
    <User>
      <Name>admin</Name>
      <Role>admin</Role>
      <Ask>true</Ask>
      <EmailAddress>davemateer@gmail.com</EmailAddress>
      <DisplayName>Dave Mateer</DisplayName>
      <OpenIDUrl>http://www.example.com/blog/</OpenIDUrl>
      <NotifyOnNewPost>true</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>true</Active>
      <Password>0A-FF-3F-DE-75-45-B0-F9-8D-90-94-BA-4C-1E-8D-93</Password>
    </User>
  </Users>
</SiteSecurityConfig>